// Hides the top Zooniverse nav (Projects, About, Get Involved etc.)
.app-layout__header {
  display: none;
}

// Hides the project navbar
.project-layout__navbar {
  display: none !important;
}

// Hides the Zooniverse footer
.app-layout__footer {
  display: none;
}

// Hides subject tools under the classifier (metadata, favourites button, sign-in prompt etc.)
.classifier .subject-tools {
  display: none;
}
